@use "../mixins/mediaQuery" as mixins;
@use "../abstract/variables" as v;

.hotelCard {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  text-decoration: none;
  color: inherit;
  height: 65vh;
}

.hotelCard_img {
  position: relative;
  height: 60%;
  width: 100%;
  margin-bottom: 10px;
}

.hotelCard_badges {
  position: absolute;
  top: 10px;
  left: 0;

  .hotelBadge {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
  }

  .hotelBadge.feature {
    background-color: v.$secondColor;
    color: #fff;
  }

  .hotelBadge.sale {
    background-color: #923e01;
    color: #fff;
  }

  .hotelBadge.specs {
    background-color: #f8d448;
  }
}

.hotelCard_name {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.hotelCard_address {
  margin-bottom: 1rem;
  color: gray;
}

.hotelCard_rating {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 1rem;

  .rating {
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: v.$secondColor;
    color: #fff;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 0;
  }

  .reviewers {
    color: gray;
    margin-bottom: 0;
  }
}

.hotelCard_bottomPrice {
  .currency,
  .price {
    color: v.$secondColor;
    font-weight: bold;
  }
}
