@use "../mixins/mediaQuery" as mixins;
@use "../abstract/variables" as v;

.mainFooter {
  background-color: v.$primaryColor;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: #fff;
  border: 10px solid #fff;
}

.footer_iconWrapper {
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 1;
}

.fotter_ul {
  list-style: square;
  padding-inline-start: 40px;
}

.mainFooter_link {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in-out;
  display: block;
  margin-bottom: 0.4rem;
  font-size: 1rem;
  font-weight: 300;
}

.mainFooter_link:hover {
  color: #afafaf;
}

.socialIcon_list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socialIcon {
  font-size: 2rem;
  line-height: 40px;
  color: #fff;
}
