@use "../mixins/mediaQuery" as mixins;
@use "../abstract/variables" as v;

// ============================================== //
// Colors
// ============================================== //
.bgMain {
  background-color: v.$primaryColor;
}

.bgSecondary {
  background-color: v.$secondaryColor;
}

// ============================================== //
// FoxBtn
// ============================================== //
.foxBtn {
  min-height: 50px;
  line-height: 50px;
  border-radius: 5px;
  padding-inline: 30px;
  font-weight: 1rem;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.foxBtn a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.foxBtn.mainBtn {
  background-color: v.$primaryColor;
  border-color: v.$primaryColor;
  color: #fff;

  &:hover {
    background-color: #fff;
    border-color: v.$primaryColor;
    color: v.$primaryColor;
  }
}

.foxBtn.secondBtn {
  background-color: v.$secondaryColor;
  border-color: v.$secondaryColor;
  color: #fff;

  &:hover {
    background-color: #9f3700;
    border-color: v.$secondaryColor;
    color: #ffffff;
  }
}

.foxBtn.thirdBtn {
  background-color: v.$thirdColor;
  border-color: v.$thirdColor;
  color: #fff;

  &:hover {
    background-color: #fff;
    border-color: v.$thirdColor;
    color: v.$thirdColor;
  }
}

.foxBtn.mainBtn,
.foxBtn.secondBtn,
.foxBtn.thirdBtn {
  &.smBtn {
    min-height: max-content;
    line-height: normal;
    padding: 5px 10px;
  }
}

.showMoreBtn {
  width: 100%;
  background-color: transparent;
  border: 1px solid v.$primaryColor;
  outline: none;
  border-radius: 5px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

.btnAction {
  height: 50px;
  line-height: 50px;
  padding-inline: 25px;
  background-color: v.$secondaryColor;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  color: #fff;
}

.btnAction:hover {
  background-color: v.$primaryColor;
}

// ============================================== //
// section
// ============================================== //
.section {
  padding-top: 80px;
  margin-bottom: 20px;
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
}
.sectionHeader_title {
  font-weight: 700;
  font-size: 2rem;
}
.sectionHeader_caption {
  font-size: 1rem;
  color: gray;
}
.sectionHeader_btn {
  border: 1px solid transparent;
  outline: none;
  background-color: v.$secondaryColor;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.sectionHeader_btn:hover {
  color: v.$secondaryColor;
  background-color: transparent;
  border: 1px solid;
}

@include mixins.media-query(medium) {
  .sectionHeader {
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .sectionHeader_title {
    font-size: 2.2rem;
  }
}

// ============================================== //
// loadingScreen
// ============================================== //
.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background-color: rgba(4, 4, 4, 0.53);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.loading-container {
  width: 100%;
  max-width: 520px;
  text-align: center;
  color: #fff;
  position: relative;
  margin: 0 32px;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    animation: movingLine 2.4s infinite ease-in-out;
  }
}

@keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
  }

  33.3%,
  66% {
    opacity: 0.8;
    width: 100%;
  }

  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 0;
  }
}

.loading-text {
  font-size: 5vw;
  line-height: 64px;
  letter-spacing: 10px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-evenly;
  span {
    animation: moveLetters 2.4s infinite ease-in-out;
    transform: translatex(0);
    position: relative;
    display: inline-block;
    opacity: 0;
    text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
  }
}

@for $i from 1 through 7 {
  .loading-text span:nth-child(#{$i}) {
    animation-delay: $i * 0.1s;
  }
}

@keyframes moveLetters {
  0% {
    transform: translateX(-15vw);
    opacity: 0;
  }

  33.3%,
  66% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(15vw);
    opacity: 0;
  }
}

// ===================================== //
// Collapsible
// ===================================== //
.Collapsible {
  margin: 30px 0;
  position: relative;
  width: 100%;
  margin: 30px 0;
}

.Collapsible__contentOuter {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.collabsibleHeader {
  padding: 15px;
  color: #fff;
  background-color: #293eb7;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  svg {
    margin-right: 10px;
  }
}

.collapsibleContent {
  padding: 20px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: left;
}

// ============================================== //
// myModal
// ============================================== //
.myModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  transition: 0.3s ease-in-out;
  opacity: 0;
  background-color: rgba(4, 4, 4, 0.53);
  backdrop-filter: blur(3px);
}

.myModal.active {
  opacity: 1;
  z-index: 1000;
}

.myModal_backdrop {
  z-index: 0;
  height: 100%;
  width: 100%;
}

.myModal_content {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

// ============================================== //
// MultiSteps
// ============================================== //
.multiSteps {
  display: flex;
  justify-content: space-between;
}

.multiSteps .step {
  text-align: center;
}

.multiSteps .step .number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  margin: auto;
  border-radius: 50%;
  background-color: v.$gray;
}

.multiSteps .step .title {
  font-size: 1.2rem;
  font-weight: 300;
}

.multiSteps .step.done {
  .number {
    background-color: v.$thirdColor;
  }
}

.multiSteps .step.active {
  .number {
    background-color: #ffc107;
  }

  .title {
    font-weight: bold;
  }
}
