@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker-wrapper {
  display: block !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: orange !important;
  width: 40px !important;
  height: 40px !important;
  background-color: rgba(0, 0, 0, 0.774);
  border-radius: 8px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  padding: 5px !important;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
}

.masonry {
  display: grid;
  grid-template-columns: 1fr; /* Single column by default */
}

@media (min-width: 768px) {
  .masonry {
    grid-template-columns: 1fr 1fr; /* Two columns for medium screens and up */
  }
}

.masonry > * {
  break-inside: avoid; /* Avoid breaking content across columns */
  margin-bottom: 1rem; /* Space between items */
}
