@use "../mixins/mediaQuery" as mixins;
@use "../abstract/variables" as v;

// ============================================== //
// FoxCard
// ============================================== //
.foxCard {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  text-decoration: none;
  color: inherit;
  height: 70vh;
}

.foxCard_img {
  position: relative;
  height: 60%;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.foxCard_img img {
  transition: 0.3s ease-in-out;
}

.foxCard_img:hover img {
  transform: scale(1.05);
}

.foxCard_badgesWrapper {
  position: absolute;
  top: 10px;
  left: 0;
}

.foxCard_badge {
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  width: max-content;
}

.foxCard_badge.feature {
  background-color: v.$secondaryColor;
}

.foxCard_badge.sale {
  background-color: #d51f1f;
}

.foxCard_badge.specs {
  background-color: #039b0b;
}

.foxCard_title {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 0.2rem;
}

.foxCard_rating {
  display: flex;
  gap: 5px;
  align-items: center;

  .ratingBox {
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: v.$secondaryColor;
    color: #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hotelCard_rating {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 1rem;

  .reviewers {
    color: gray;
    margin-bottom: 0;
  }
}

.foxCard_price {
}

.foxCard_separator {
  width: 100%;
  height: 1px;
  background-color: v.$gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

// ============================================== //
// PakageCard
// ============================================== //
.packageCard_img {
  height: 40%;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  outline: 2px solid v.$primaryColor;
  margin-top: 2px;
  z-index: 1;
}

.packageCard_info {
  height: 80%;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  padding: 15vh 10px 10px;
  border: 2px solid v.$primaryColor;
}

.packageCard_info .icon {
  font-size: 1.7rem;
  color: v.$primaryColor;
}

.packageCard_info .foxCard_rating .ratingBox {
  background-color: v.$thirdColor;
}

/////////////////////////////////
.foxPrice {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: bold;
  color: v.$secondaryColor;
}

$duration: 3s;

@keyframes ticker {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}
.transportIcon {
  width: 3vw;
  overflow: hidden;
  padding-left: 100%;
  box-sizing: content-box;
  z-index: 2;
  transition: ease-in-out;
  font-size: 1.8rem;
  color: v.$secondaryColor;

  &:hover svg {
    animation-play-state: paused;
  }

  svg {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    transition: ease-in-out;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;

    &__item {
      display: inline-block;
      padding: 0 2rem;
      color: white;
    }
  }
}

.transportationLine {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  border: 1px solid v.$secondaryColor;
  padding: 10px;
  border-radius: 10px;
  width: max-content;
  background-color: v.$secondaryColor;
}

.transportationStop {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid v.$secondaryColor;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #fff;
}

.cityPlan {
  margin-top: 2rem;
  border: 1px solid v.$secondaryColor;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cityPlan_header {
  background-color: v.$secondaryColor;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}

// ============================================== //
// HotelCard
// ============================================== //
.hotelCard {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  text-decoration: none;
  color: inherit;
  height: 65vh;
}

.hotelCard_img {
  position: relative;
  height: 60%;
  width: 100%;
  margin-bottom: 10px;
}

.hotelCard_badges {
  position: absolute;
  top: 10px;
  left: 0;

  .hotelBadge {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
  }

  .hotelBadge.feature {
    background-color: v.$secondaryColor;
    color: #fff;
  }

  .hotelBadge.sale {
    background-color: #923e01;
    color: #fff;
  }

  .hotelBadge.specs {
    background-color: #f8d448;
  }
}

.hotelCard_name {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.hotelCard_address {
  margin-bottom: 1rem;
  color: gray;
}

.hotelCard_rating {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 1rem;

  .rating {
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: v.$secondaryColor;
    color: #fff;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 0;
  }

  .reviewers {
    color: gray;
    margin-bottom: 0;
  }
}

.hotelCard_bottomPrice {
  .currency,
  .price {
    color: v.$secondaryColor;
    font-weight: bold;
  }
}

// ============================================== //
// DestinationCard
// ============================================== //
.destinationCard {
  height: 55vh;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.destinationCard a {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
}

.destinationCard_bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.destinationCard_bg::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.destinationCard_header {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 3;
  transition: 0.4s ease-in-out;
}

.destinationCard_desc {
  font-size: 0.8rem;
}

.destinationCard_footer {
  position: absolute;
  bottom: -60px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  transition: 0.4s ease-in-out;
}

.destinationCard_name {
  height: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
  transition: 0.4s ease-in-out;
}

.destinationCard_btn {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 10px 70px;
  border-radius: 5px;
  height: 50px;
}

.destinationCard:hover {
  .destinationCard_bg::after {
    opacity: 0.45;
  }

  .destinationCard_header {
    top: 5%;
    opacity: 1;
  }

  .destinationCard_footer {
    bottom: 15px;
  }

  .destinationCard_name {
    margin-bottom: 15px;
  }
}

// ============================================== //
// TripCard
// ============================================== //
.tripCard {
  height: 60vh;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.tripCard_img {
  position: relative;
  height: 75%;
  flex-shrink: 0;
}

.tripCard_title {
  font-size: 1.5rem;
  font-weight: 600;
}

// ============================================== //
// CarCard
// ============================================== //
.carCard_image {
  border: 1px solid v.$gray;
  border-radius: 10px;
}

// ============================================== //
// EmployeeCard
// ============================================== //

.employeeCard {
  border: 3px solid v.$gray;
  border-radius: 10px;
  padding: 10px;

  .image {
    text-align: center;
    outline: 5px solid v.$thirdColor;
    outline-offset: 10px;
    margin-bottom: 20px;
    border-radius: 50%;
    position: relative;
    margin-inline: auto;
    margin-top: 10px;
    width: 140px;
    height: 140px;
    overflow: hidden;
  }
}

// ============================================== //
// TransferCard
// ============================================== //
.transferCard {
  position: relative;
  display: flex;
  border: 1px solid v.$gray;
  border-radius: 10px;
  padding: 5px 10px;

  .carImage {
    position: relative;
    height: 25vh;
    width: 20%;
  }

  .carInfo {
    width: 60%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
  }

  .carPrice {
    margin-left: auto;
    width: 20%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
