@use "../mixins/mediaQuery" as mixins;
@use "../mixins/borwserCompat" as browserMixins;
@use "../abstract/variables" as v;

.forceStyle ul {
  list-style-type: disc !important; /* Display default bullet points */
  padding-left: 20px !important; /* Add left padding for the list */
  color: #ff6600 !important; /* Set the bullet color to orange */
  margin: 0 !important; /* Reset margin */
}

.forceStyle li {
  margin-bottom: 8px !important; /* Add spacing between list items */
  color: #e2eaeb !important; /* Set text color for list items */
  font-size: 16px !important; /* Define font size */
  font-weight: 300 !important;
}

.forceStyle ul li::marker {
  color: #ff6600; /* Set bullet color to orange */
}

// ============================================== //
// Start FoxCard
// ============================================== //
.foxCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: 5px;
  border-radius: 10px;
  overflow: hidden;
  color: #000;
  height: 500px;
  text-decoration: none;
}

.foxCard_img {
  position: relative;
  width: 100%;
  height: 230px;
  margin-bottom: 10px;
}

.foxCard_img img {
  transition: 0.3s ease-in-out;
}

.foxCard_img:hover img {
  transform: scale(1.05);
}

.foxCard_desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: gray;
  font-weight: 300;
}

.foxCard_title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  font-weight: 500;
  color: #000;
  font-size: 1.5rem;
}

.foxCard_badgesWrapper {
  position: absolute;
  top: 10px;
  left: 0;
}

.foxCard_badge {
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  width: max-content;
}

.foxCard_badge.feature {
  background-color: v.$secondaryColor;
}

.foxCard_badge.sale {
  background-color: #d51f1f;
}

.foxCard_badge.specs {
  background-color: #039b0b;
}

.foxCard_rating {
  display: flex;
  gap: 5px;
  align-items: center;

  .ratingBox {
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: v.$secondaryColor;
    color: #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cardIcon {
  font-size: 1.4rem;
}
// ============================================== //
// End FoxCard
// ============================================== //

// ============================================== //
// Start DestinationCard
// ============================================== //
.destinationCard {
  height: 400px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  display: block;
  color: #fff;
  text-decoration: none;
}

.destinationCard_bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.destinationCard_bg::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.destinationCard_header {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 3;
  transition: 0.4s ease-in-out;
  font-size: 0.8rem;
}

.destinationCard_footer {
  position: absolute;
  bottom: -60px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  transition: 0.4s ease-in-out;
}

.destinationCard_name {
  height: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
  transition: 0.4s ease-in-out;
}

.destinationCard_btn {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 10px 70px;
  border-radius: 5px;
  height: 50px;
}

.destinationCard:hover {
  .destinationCard_bg::after {
    opacity: 0.45;
  }

  .destinationCard_header {
    top: 5%;
    opacity: 1;
  }

  .destinationCard_footer {
    bottom: 15px;
  }

  .destinationCard_name {
    margin-bottom: 15px;
  }
}
// ============================================== //
// End DestinationCard
// ============================================== //

$duration: 3s;

@keyframes ticker {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}
.transportIcon {
  width: 3vw;
  overflow: hidden;
  padding-left: 100%;
  box-sizing: content-box;
  z-index: 2;
  transition: ease-in-out;
  font-size: 1.8rem;
  color: v.$secondaryColor;

  &:hover svg {
    animation-play-state: paused;
  }

  svg {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    transition: ease-in-out;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;

    &__item {
      display: inline-block;
      padding: 0 2rem;
      color: white;
    }
  }
}

.transportationLine {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  border: 1px solid v.$secondaryColor;
  padding: 10px;
  border-radius: 10px;
  width: max-content;
  background-color: v.$secondaryColor;
}

.transportationStop {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid v.$secondaryColor;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #fff;
}

.cityPlan {
  margin-top: 2rem;
  border: 1px solid v.$secondaryColor;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cityPlan_header {
  background-color: v.$secondaryColor;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}

// ============================================== //
// EmployeeCard
// ============================================== //
.employeeCard {
  border: 3px solid v.$gray;
  border-radius: 10px;
  padding: 10px;

  .image {
    text-align: center;
    outline: 5px solid v.$thirdColor;
    outline-offset: 10px;
    margin-bottom: 20px;
    border-radius: 50%;
    position: relative;
    margin-inline: auto;
    margin-top: 10px;
    width: 140px;
    height: 140px;
    overflow: hidden;
  }
}

// ============================================== //
// TransferCard
// ============================================== //
.transferCard {
  position: relative;
  display: flex;
  border: 1px solid v.$gray;
  border-radius: 10px;
  padding: 5px 10px;

  .carImage {
    position: relative;
    height: 25vh;
    width: 20%;
  }

  .carInfo {
    width: 60%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
  }

  .carPrice {
    margin-left: auto;
    width: 20%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
