@use "../mixins/mediaQuery" as mixins;
@use "../abstract/variables" as v;

// ============================================== //
// SwiperScroll
// ============================================== //
.swiperScroll {
  position: relative;
}

.swiperPrevBtn,
.swiperNextBtn {
  padding: 0;
  border: none;
  outline: none;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: v.$secondaryColor;
  background-color: #fff;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
  transition: 0.4s ease-in-out;

  &:disabled {
    color: gray;
  }
}

.swiperPrevBtn {
  left: -20px;
}

.swiperNextBtn {
  right: -20px;
}

// ============================================== //
// react-datepicker
// ============================================== //
.react-datepicker {
  border-color: v.$primaryColor;
}
.react-datepicker__header {
  background-color: v.$primaryColor;
  color: #fff;
  position: relative;
}
.react-datepicker-time__header::after {
  position: absolute;
  content: "HH:MM";
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: #fff;
}
.react-datepicker__day--selected {
  background-color: v.$thirdColor;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::after {
  border-bottom-color: v.$primaryColor;
}

.react-datepicker-time__header {
  color: #fff;
}
.react-datepicker__header--time {
  padding-top: 20px;
  padding-bottom: 20px;
}
