@use "../mixins/mediaQuery" as mixins;
@use "../abstract/variables" as v;

// ===================================================== //
// Mobile Style
// ===================================================== //

.ss_category {
  position: relative;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 5px 10px;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.ss_category::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

.ss_category.active::after,
.ss_category:hover::after {
  width: 100%;
}

// .serviceSearchForm {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
// }

.serviceSearchForm {
  display: flex;
  gap: 5px;
  align-items: stretch;
  flex-wrap: wrap;
  margin: auto;
}

.ss_inputWrapper {
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  // flex-grow: 2;
  border: 1px solid;
}

.ss_inputWrapper-inner {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ss_inputField {
  border: none;
  outline: none;
  font-weight: 300;
}

.ss_dropdownToggler {
  font-weight: 300;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

.ss_dropdowncontent {
  width: 350px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ss_childAgeInput {
  width: 100%;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 15px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numberInput {
  padding: 5px 10px;
  border: 1px solid rgb(44, 44, 44);
  width: 130px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  font-weight: 400;
}

.numberInput .number {
  font-size: 14px;
}

.numberIcons {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  color: blue;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.numberIcons:hover:not(:disabled) {
  background-color: blue;
  color: #fff;
}

.numberIcons:disabled {
  color: rgb(146, 146, 146);
}

.numberIcons span {
  position: relative;
  top: -3px;
}

.ss_optionsListBtn {
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
}

// ===================================================== //
// Tablet Style ( max : px )
// ===================================================== //
