@use "../mixins/mediaQuery" as mixins;
@use "../abstract/variables" as v;

.foxPrice {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: bold;
  color: v.$secondColor;
}

$duration: 3s;

@keyframes ticker {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}
.transportIcon {
  width: 3vw;
  overflow: hidden;
  padding-left: 100%;
  box-sizing: content-box;
  z-index: 2;
  transition: ease-in-out;
  font-size: 1.8rem;
  color: v.$secondColor;

  &:hover svg {
    animation-play-state: paused;
  }

  svg {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    transition: ease-in-out;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;

    &__item {
      display: inline-block;
      padding: 0 2rem;
      color: white;
    }
  }
}

.transportationLine {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  border: 1px solid v.$secondColor;
  padding: 10px;
  border-radius: 10px;
  width: max-content;
  background-color: v.$secondColor;
}

.transportationStop {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid v.$secondColor;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #fff;
}

.cityPlan {
  margin-top: 2rem;
  border: 1px solid v.$secondColor;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cityPlan_header {
  background-color: v.$secondColor;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}
