@use "../../mixins/mediaQuery" as mixins;
@use "../../abstract/variables" as v;

.section.mainFooter {
  background-color: rgb(241, 241, 241);
  margin-bottom: 0;
}

.footer_title {
  font-weight: 600;
  margin-bottom: 2rem;
  color: v.$secondColor;
}

.mainFooter_phone,
.mainFooter_email {
  color: v.$secondColor;
  font-weight: 600;
  font-size: 1.2rem;
}

.mainFooter_link {
  text-decoration: none;
  color: v.$mainColor;
  transition: 0.3s ease-in-out;
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}

.mainFooter_link:hover {
  color: v.$secondColor;
}
