@use "../../mixins/mediaQuery" as mixins;
@use "../../abstract/variables" as v;

.tripCard {
  height: 60vh;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.tripCard_img {
  position: relative;
  height: 75%;
  flex-shrink: 0;
}

.tripCard_title {
  font-size: 1.5rem;
  font-weight: 600;
}
