@use "../abstract/variables" as v;

.mainTeamImage {
  position: relative;
  height: 60vh;
  width: 75%;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  outline: 2px solid v.$secondaryColor;
  outline-offset: 5px;
}

.teamMember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.teamMember_picture {
  font-size: 7rem;
  color: v.$secondaryColor;
}

.teamMember_name {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.teamMember_position {
  font-weight: 300;
}
