@use "../abstract/variables" as v;

.branchDetailsWrapper {
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  //   align-items: center;
}

.branchDetailsWrapper .locationIcon {
  font-size: 3rem;
  color: v.$secondaryColor;
  text-align: center;
}

.contactUs .socialIcon_list {
  justify-content: center;
}

.contactUs .socialIcon {
  color: v.$secondaryColor;
  font-size: 4rem;
}

.contactForm {
  position: relative;
  z-index: 1;
}

.contact_backgroundMap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
