@use "../mixins/mediaQuery" as mixins;
@use "../abstract/variables" as v;

// ------------- heroSeaction ------------- //
.home_heroSection {
  position: relative;
  padding-top: clamp(12%, 150px, 15vh);
  padding-bottom: 10%;
  height: 95vh;
}

// home_heroSectionBg
.home_heroSectionBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home_heroSectionBg::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0, rgba(10, 16, 54, 0.6), #3c3837 80.43%);
  opacity: 0.85;
  backdrop-filter: blur(4px);
}

// featuredHeroBox
.featuredHeroBox {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  z-index: 2;
  width: 95%;
}

.home_heroSection--mainTitle {
  font-size: clamp(1.8rem, 1rem + 3vw, 4rem);
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.home_heroSection--caption {
  text-align: center;
  font-size: clamp(1rem, 1rem, 5rem);
  font-weight: 300;
  margin-bottom: 1rem;
}

// ------------- EmailSubscriber ------------- //
.emailSubscriber {
  background-color: v.$primaryColor;
  padding: 70px 0;
  color: #fff;
}

.emailSubscriber_emailIcon {
  font-size: 5rem;
}

// ------------- CompanyFeatures ------------- //
.companyFeature {
  text-align: center;

  svg {
    font-size: clamp(25px, 2rem + 1vw, 40px);
    color: v.$secondaryColor;
    margin-bottom: 1rem;
  }

  .title {
    font-size: clamp(25px, 0.5rem + 1vw, 40px);
    font-weight: 300;
  }
}
