.wrapper {
  min-width: 250px;
}

.toggler {
  font-size: 14px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
  color: rgb(44, 44, 44);
  display: flex;
  gap: 5px;
}

.toggler input {
  width: 220px;
  border: none;
  outline: none;
}
