body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}
